---
import Layout from "../../layouts/Layout.astro";
import Next from "../../components/PostNext.astro";
import CollectionComm from "./CollectionComm.astro";
import { categoryById } from "../../config/site";

const next='自然风光';
const nextUrl = categoryById.nature.href;
const PostTitle = "捕捉瞬间";
const Count = "10";
// 导入 Image 组件和图像
import { Image } from "astro:assets";
import Img01 from "../../assets/images/moment/001.jpg";
import Img02 from "../../assets/images/moment/002.jpg";
import Img03 from "../../assets/images/moment/003.jpg";
import Img04 from "../../assets/images/moment/004.jpg";
import Img05 from "../../assets/images/moment/005.jpg";
import Img06 from "../../assets/images/moment/006.jpg";
import Img07 from "../../assets/images/moment/007.jpg";
import Img08 from "../../assets/images/moment/008.jpg";
import Img09 from "../../assets/images/moment/009.jpg";
import Img10 from "../../assets/images/moment/010.jpg";
import Img11 from "../../assets/images/moment/011.jpg";
import Img12 from "../../assets/images/moment/012.jpg";
---

<Layout
page="moment",
title="捕捉瞬间 | Tink 的摄影网站",
description="捕捉瞬间",
keywords="捕捉瞬间"
loading="Seize The Moment"
>
  <CollectionComm />
  <div id="collection">
    <div class="postion-relative">
      <div class="collection">
        <div class="container">
          <div class="row p-0 main">
            <div class="postion-relative m-auto text-center w-100">
              <h1 class="collection-title heading-01 collection-title__01" data-splitting>
                {PostTitle}
              </h1>
              <div>
                <div class="collection-gallery">
                  <div class=" p-0">
                    <div class="collection-item justify-content-center">
                      <div class="collection__figure col-12 col-sm-10 col-md-8  p-0">
                        <Image
                          src={Img01}
                          alt="Moment"
                          class="collection__img"
                        />
                      </div>
                    </div>
                    <div class="collection-item justify-content-center justify-content-sm-start">
                      <div class="collection__figure col-12 col-sm-8 col-md-6 col-lg-6 p-0">
                        <Image
                          src={Img02}
                          alt="Moment"
                          class="collection__img"
                        />
                      </div>
                    </div>
                    <div class="collection-item justify-content-center">
                      <div class="collection__figure p-0 col-10 col-sm-8 col-md-6 col-lg-4  offset-md-1">
                        <Image
                          src={Img03}
                          alt="Moment"
                          class="collection__img"
                        />
                      </div>
                    </div>
                    <div class="collection-item justify-content-center justify-content-sm-end">
                      <div class="collection__figure p-0 col-12 col-sm-10 col-md-8 col-lg-6">
                        <Image
                          src={Img04}
                          alt="Moment"
                          class="collection__img"
                        />
                      </div>
                    </div>
                    <div class="collection-item justify-content-center justify-content-sm-start">
                      <div class="collection__figure p-0 col-10 col-sm-8 col-md-6 col-lg-4">
                        <Image
                          src={Img05}
                          alt="Moment"
                          class="collection__img"
                        />
                      </div>
                    </div>
                    <div class="collection-item justify-content-center">
                      <div class="collection__figure p-0 col-10 col-sm-8 col-md-6 col-lg-4">
                        <Image
                          src={Img06}
                          alt="Moment"
                          class="collection__img"
                        />
                      </div>
                    </div>
                    <div class="collection-item justify-content-center justify-content-sm-end">
                      <div class="collection__figure p-0 col-10 col-sm-8 col-md-6 col-lg-4">
                        <Image
                          src={Img07}
                          alt="Moment"
                          class="collection__img"
                        />
                      </div>
                    </div>
                    <div class="collection-item justify-content-center justify-content-sm-start">
                      <div class="collection__figure p-0 col-10 col-sm-8 col-md-8 col-lg-6 offset-sm-1">
                        <Image
                          src={Img08}
                          alt="Moment"
                          class="collection__img"
                        />
                      </div>
                    </div>
                    <div class="collection-item justify-content-center">
                      <div class="collection__figure p-0 col-10 col-sm-8 col-md-6 col-lg-4">
                        <Image
                          src={Img10}
                          alt="Moment"
                          class="collection__img"
                        />
                      </div>
                    </div>
                    <div class="collection-item justify-content-center justify-content-sm-start">
                      <div class="collection__figure p-0 col-12 col-sm-10 col-md-6 col-lg-6 offset-sm-1 offset-md-5">
                        <Image
                          src={Img09}
                          alt="Moment"
                          class="collection__img"
                        />
                      </div>
                    </div>
                    <div class="collection-item justify-content-start">
                      <div class="collection__figure p-0 col-10 col-sm-8 col-md-6 col-lg-4">
                        <Image
                          src={Img11}
                          alt="Moment"
                          class="collection__img"
                        />
                      </div>
                    </div>
                    <div class="collection-item justify-content-center">
                      <div class="collection__figure p-0 col-10 col-sm-8 col-md-6 col-lg-4">
                        <Image
                          src={Img12}
                          alt="Moment"
                          class="collection__img"
                        />
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <Next
          post={next}
          href={nextUrl}
        />
    </div>
  </div>
</Layout>

<style lang="scss">
.main{
  margin:120px auto 0;
  @media (min-width: 767px) {
    margin:12vw auto 0;
  }

}
.collection-title{
  margin-bottom:60px;
  @media (min-width: 767px) {
    margin-bottom:8vw;
  }
}
</style>
